.App {}
.Main {
  margin: 0 7rem 0 7rem;
  padding: 1rem;
  margin-top: 40px;
}

.tr-clickable {
  cursor: pointer;
}

.search-input {
  width: 100%;
}

.search-padding {
  padding-bottom: 1rem;
}

@media only screen and (max-width: 767px){
  .Main {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
}
